@model LoginSystemNonJS.Models.User;

@{
    ViewData["Title"] = "Login";
}

<div id="login">
    <div class="mb-3">
        <label for="username" class="col-form-label">Username</label>
        <input type="text" id="username" name="username" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="password" class="col-form-label">Password</label>
        <input type="password" id="password" name="password" class="form-control" />
    </div>

    <button class="btn btn-primary">Login</button>

    <div class="alert alert-success invisible">
        <div>Inloggningen lyckades!</div>
    </div>
    <div class="alert alert-warning invisible">
        <div>Inloggningen misslyckades!</div>
    </div>
</div>